.section {
    padding: 40px 15%;
    font-size: 1em;
    background-color: white;
}
@media only screen and (min-width: 480px) {
    .section {
        padding: 40px 15%;
        font-size: 1.4em;
    }
}

.section-header {
    font-size: 0.9em;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}
@media only screen and (min-width: 480px) {
    .section-header {
        font-size: 1.5em;
    }
}

.section-header-light {
    font-size: 0.8em;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
}
@media only screen and (min-width: 480px) {
    .section-header-light {
        font-size: 1.7em;
    }
}

.section-header-highlighted{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 900;
}
.section-header-page{
    border-bottom: 2px solid rgba(100, 121, 162,0.3);
    padding-bottom: 5px;
    color: #0e1e58;
}





/***************
*** GENERAL ***
***************/

* {
    background-color: #131d25;
    color: #ffff;
    margin: 0px;
    text-align: center;
    padding-left, padding-right: 100px;

}
a {
    color: #ffff;
}
/*FONT*/

.bold-text {
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}
.light-text{
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: 300px;
}
.light-bg-dark-text {
    background: #ffff;
    color: #131d25;
    font-size: 20px;
}

.gradient-text {
    position: relative;
    font-size: 40px;
    background: linear-gradient(to bottom right, rgba(243, 158, 33), rgba(226, 109, 54), rgba(174, 35, 93), rgba(86, 12, 129), rgba(0, 0, 108), rgba(41, 115, 232));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
h1 {
    font-size: 40px;
}
h2, h3 {
    /*
    font-size: 5rem;
    font-weight: bold;
    */
    padding: 3rem;
    text-align: center;
} 
h4 {
    /*
    font-size: 2rem;
    font-weight: bold;
    */
    padding: 1rem;
    text-align: center; 
}
/*STRUCTURE*/
.section-header{
    padding-bottom: 70px;
}
section {
    padding: 70px 0px 70px;
}



/**************
*** NAVBAR ***
**************/
.navbar {
    background: rgba(10,28,63,1);
    background: -moz-linear-gradient(top, rgba(10,28,63,1) 0%, rgba(8,21,47,1) 25%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,28,63,1)), color-stop(25%, rgba(8,21,47,1)), color-stop(
100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(10,28,63,1) 0%, rgba(8,21,47,1) 25%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top, rgba(10,28,63,1) 0%, rgba(8,21,47,1) 25%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top, rgba(10,28,63,1) 0%, rgba(8,21,47,1) 25%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(10,28,63,1) 0%, rgba(8,21,47,1) 25%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a1c3f', endColorstr='#000000', GradientType=0 );
    border: none;
    height: 150px;
    padding: 20px;
    text-transform: uppercase;
}

.navbar-condensed {
    background: rgba(10,28,63,1);
    background: -moz-linear-gradient(top, rgba(10,28,63,1) 0%, rgba(5,15,33,0.92) 48%, rgba(3,8,18,0.88) 72%, rgba(0,0,0,0.8) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,28,63,1)), color-stop(48%, rgba(5,15,33,0.92)), color-stop(72%, rgba(3,8,18,0.88)), color-stop(100%, rgba(0,0,0,0.8)));
    background: -webkit-linear-gradient(top, rgba(10,28,63,1) 0%, rgba(5,15,33,0.92) 48%, rgba(3,8,18,0.88) 72%, rgba(0,0,0,0.8) 100%);
    background: -o-linear-gradient(top, rgba(10,28,63,1) 0%, rgba(5,15,33,0.92) 48%, rgba(3,8,18,0.88) 72%, rgba(0,0,0,0.8) 100%);
    background: -ms-linear-gradient(top, rgba(10,28,63,1) 0%, rgba(5,15,33,0.92) 48%, rgba(3,8,18,0.88) 72%, rgba(0,0,0,0.8) 100%);
    background: linear-gradient(to bottom, rgba(10,28,63,1) 0%, rgba(5,15,33,0.92) 48%, rgba(3,8,18,0.88) 72%, rgba(0,0,0,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a1c3f', endColorstr='#000000', GradientType=0 );
    height: 90px;
}

.navbar-brand {
    padding: 0 15px;
}

#navbar-logo {
    height: 50px;
    transition:height 0.3s ease-out;
}
@media only screen and (min-width: 1200px) {
    #navbar-logo {
        height: 50px;
    }
}

@media (max-width: 1200px){
    .navbar-mobile{
        background-clip: padding-box;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.17) 0px 6px 12px;
        background-color: #213356;
        margin-top: 20px;
    }
}
@media (max-width: 1200px){
    .navbar-mobile{
        background-clip: padding-box;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.17) 0px 6px 12px;
        background-color: #213356;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 480px) {
    .navbar-logo-small {
        height: 55px !important;
    }
}

.active {
    font-weight: 600;
    color: white !important;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    font-weight: 600;
    background-color: transparent;
}


.navbar-default .navbar-nav>.active> a:hover,
.navbar-default .navbar-nav>li>a:hover {
    color: rgba(255,255,255,0.8);
    font-weight: 600;
    background-color: transparent;
}

.navbar-default a:hover, .navbar-default a:focus {
    font-size: 0.95em;
}

.navbar-default .navbar-nav>li>a,
.dropdown-menu a {
    color: rgba(255,255,255,0.75);
    letter-spacing: 0.08em;
    font-size: 0.9em;
}

@media (max-width: 1300px) and (min-width: 1200px) {
    .navbar-default .navbar-nav>li>a {
        font-size: 0.75em;
    }
}
@media (max-width: 1200px) {
    .navbar-default .navbar-nav>li>a {
        font-size: 0.7em;
    }
}

.navbar-default .navbar-nav>li>a.btn.btn-default {
    padding: 5px 8px;
    margin-top: 10px;
    color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a.btn.btn-default:hover {
    background-color: #dd4f33;
    padding: 5px 7px;
}

.dropdown-menu {
    padding: 15px;
    letter-spacing: 0.08em;
    font-size: 0.9em;
    font-weight: 300;
    background-color: #213356;
}

.dropdown-menu a:hover, .dropdown-menu a:focus {
    color: #fff;
    font-weight: 600;
}

@media (max-width: 1200px) {
    .navbar-nav .open .dropdown-menu {
        font-size: 0.7em;
    }
}

.dropdown-divider {
    border: 1px solid #2f3f5f;
    margin: 10px -8px;
}

/* Change navbar breakpoint since the menu is so big... */
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

/*.navbar-* {
    background-color: transparent;
}
*/
#logo-left {
    width: 170px;
    height: 55px;
}
#logo-right {  
    width: 105px;
    height: 45px;
}
/*Toggle button*/
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler {
    border-color: rgb(255,255,255);
} 
/*
.navbar-left {
height: 8vh;
padding: 10px;
padding-top: 0px;
transition: height 0.3s ease-out;
}
*/

/***************
**** BANNER ****
****************/
.banner {
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: none;
}
@media only screen and (min-width: 480px) {
    .banner {
        height: 400px;
    }
}
.banner-text {
    padding-top: 100px;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: white;
}
@media only screen and (min-width: 480px) {
    .parallax-text {
        font-size: 4em;
        line-height: 200px;
    }
}


/************
*** HOME ***
************/

/*MAIN LANDING*/
div.main{
    width: 100%;
    padding: 60px 90px 60px 90px; /*Top Left Bottom Right*/
}
img.main-visual { /*centered image formatting*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*LIVE COUNTDOWN START*/
.coming-soon {
    min-height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: left;
}
.countdown {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    /*margin-bottom: 5%;*/ /*amount of space between countdown and button*/
}
.day, .hour, .minute, .second {
    font-size: 2rem;
    color: #ffff;
    flex-grow: 1;   
}
.waiting {
    height: 20vh;
}
/*ADDITIONAL SECTIONS*/
div.white-bg {
    background: #ffff;
    text-align: center;
    width: 100%;
    padding: 50px 60px 50px 60px;
    margin: 0px;
}
/*REGISTRATION*/
.form {
    padding: 0px;
    margin: 0px;
}
/*WHY ATTEND*/
ul.white-bullet {
    padding: 0px 200px 0px;
}
li.white-bullet { /*bullets*/
    text-align: left;
    font-size: 22px;
}

/*************
*** AGENDA ***
**************/
/* SCHEDULE */
.btn.btn-schedule {
    border-radius: 0;
    width: 100%;
    background-color: #061738;
    margin: 0;
}
.btn.btn-schedule.active {
    background-color: #00c0f2;
}
.content-schedule, .content-schedule .speaker-expanded-bio {
    padding-bottom: 0;
    margin-bottom: 0;
}

.content-schedule .toggle-group .sqs-block .button-block .sqs-block-button {
    padding: 0px !important;
}

.content-schedule .toggle-group .sqs-block-button .sqs-block-button-element-medium {
    width: 100%;
    box-sizing: border-box;
    background: white;
    color: #272727;
    border: 5px solid #272727;
}

.content-schedule .toggle-group .sqs-block-button .sqs-block-button-element-medium.selected {
    background: #272727;
    color: white;
}

.content-schedule .event-group {
    box-sizing: border-box;
    padding-left: 20px;
    position: relative;
}

.content-schedule .event-group:last-child .event-detail:last-child:after {
    display: none;
}

.content-schedule .event-list {
    margin: 10px 0px;
}

.content-schedule .event-group .event-time {
    display: block;
    font-size: 12px;
}
.content-schedule .event-group h3,
.content-schedule .event-group h4,
.content-schedule .event-group h5 {
    margin: 0px;
}

.content-schedule .event-group h3 {
    font-size: 18px;
    font-weight: bold;
}

.content-schedule .event-group h4 {
    color: #6F6F6F;
    font-weight: lighter;
}

.content-schedule .event-group h5 {
    margin-bottom: 24px;
}

.content-schedule .event-detail {
    box-sizing: border-box;
    font-size: 14px;
    line-height: 24px;
    position: relative;
    display: flex;
}

.content-schedule .event-detail .event-left {
    width: 125px;
    text-align: right;
    padding-left: 5px;
    padding-right: 15px;
}

.content-schedule .event-detail .event-right {
    flex: 1;
    border-left-width: 8px;
    border-left-style: solid;
    padding-left: 8px;
}
.content-schedule .event-detail .event-right:after {
    content: "";
    background: #272727;
    position: absolute;
    left: -1px;
    top: 16px;
    height: 100%;
    width: 1px;
    z-index: 1;
    display: none;
}

.content-schedule .event-detail:before {
    background: #272727;
    border: solid 2px #272727;
    border-radius: 7px;
    content: "";
    display: block;
    position: absolute;
    left: -6px;
    top: 6px;
    height: 7px;
    width: 7px;
    z-index: 2;
    display: none;
}

.content-schedule .event-parallel .event-detail:before {
    background: #272727;
    border-radius: 0px;
    border: none;
    content: "";
    display: block;
    position: absolute;
    left: -1px;
    top: 0;
    height: 100%;
    width: 1px;
    z-index: 2;
    display: none;
}

.content-schedule .event-detail>span {
    display: block;
}
.content-schedule .event-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.content-schedule .event-category {
    width: 100%;
}

.content-schedule .event-parallel .event-detail .event-left {
    opacity: 0;
}

.content-schedule .event-location {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.content-schedule .event-tags {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.content-schedule .event-tag {
    border-left-width: 8px;
    border-left-style: solid;
    padding-left: 8px;
    padding-right: 8px;
}

.event-type-general, .event-type-all {
    border-color: #e9fbfb;
}

.event-type-panel {
    border-color: #88a0d2;
}

.event-type-workshop {
    border-color: #e1b3d3;
}

.event-type-keynote {
    border-color: #9959a4;
}

.event-type-competition {
    border-color: #7a97ad;
}
@media screen and (max-width: 640px) {
    .content-schedule .event-detail {
        flex-direction: column;
    }
    .content-schedule .event-detail .event-left {
        width: 100%;
        padding-left: 0px;
        text-align: left;
    }
    .content-schedule .event-detail .event-right {
        padding-left: 20px;
    }
    .content-schedule .toggle-group .sqs-block-button.sqs-block-button {
        padding: 8px !important;
    }
    .content-schedule .toggle-group .sqs-block-button .sqs-block-button-element-medium {
        padding: 8px;
        font-size: 12px;
    }
    .content-schedule .event-tags {
        flex-wrap: wrap;
    }
}
.locationSchedule {
    font-weight: bold;
}

/*******************
*** COMPETITIONS ***
********************/
.page-headline {
    background-color: #F5F5F5;
    padding: 50px;
}
.btn {
    border: 4px solid rgb(125, 66, 112);
    background-color: rgb(213, 190, 194);
    border-radius: 50px;
    color: rgb(125, 66, 112);
}

a:hover .btn {
    background-color: rgb(125, 66, 112);
    color: #ffff;
}

/*Prizes*/
ul.dark-bullet {
    padding: 0;
    color: #131d25;
    background-color: #F5F5F5;
}
li.dark-bullet {
    text-align: left;
    font-size: 18px;
    color: #131d25;
    background-color: #F5F5F5;
}

/*Eligibility*/
.collapsible {
    background-color: #131d25;
    cursor: pointer;
    padding: 15px 30px 15px;
    /*padding: 18px;*/
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    /*font-size: 15px;*/
}
/*
.active, .collapsible:hover {
background-color: rgb(226, 109, 54);
}

*/
.collapsible:after {
    content: '\002B';
    color: white;
    /*font-weight: bold;*/
    float: right;
    /*
    margin-left: 5px;
    margin-right: 5px;
    */
}
.active:after {
    content: "\2212";
}
.content {
    padding: 0px 50px 0px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #F5F5F5;
    color: #131d25;
    text-align: left;
    border-color: #131d25;
    border-style: solid;
}
ul.bullet-elig {
    padding: 0;
    color: #131d25;
    background-color: #F5F5F5;

}
li.bullet-elig  {
    text-align: left;
    font-size: 16px;
    color: #131d25;
    background-color: #F5F5F5;
}
/*
text-elig {
text-align: left;
font-size: 16px;
max-width: 100%;
color: #131d25;
background-color: #F5F5F5;

}*/

/***************
*** ABOUT US ***
****************/

/*Team*/
/*
.team-container {
/background-color: #ffff;

}
.team {
background-color: #ffff; 
}
*/
.team-picture, .speaker-pic {
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 10px;
    /*background-color: transparent;*/
}

.team-name, .team-role, .team-area {
    text-align: center;
    margin-bottom: 5px;
    font-size: 1em;
    background-color: #ffff; 
    color: #131d25;
}

.container {
    position: relative;

}
.overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;

    text-align: center;
    background-color: #131d25;
    padding: 20px;
    font-size: 16px;
    overflow: auto;
}
.container:hover .overlay {
    opacity: 1;
}

#idLinkedInIcon  {
    background-color: rgb(0, 102, 170);
    border-radius: 5px;
    color:white;
    cursor:pointer;
    display:inline-block;
    font: bold 25px Arial, Helvetica, sans-serif;
    height:30px;
    width:30px;
    margin-top:1px;
    text-align:center;
}
#idLinkedInIcon:hover{
    background-color:#06d;
}
.team-bio  {

}

.test-div {
    background-color: rgb(213, 190, 194);
    border-radius: 150px 150px 0 0;
    height: 80%;
    width: 70%;

}
.test-pic {

    width: 400px;

}

/***************
*** SPONSORS ***
****************/
.sponsor-logo {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
div.logo {
    padding-top: 0px;
}

/*************
*** FOOTER ***
**************/

.footer-title{
    letter-spacing: 0.08em;
    font-size: 0.9em;
    text-transform: uppercase;
    color: white;
}
footer a:hover, footer-title a:focus {
    color: #fff;
    font-weight: 600;
}

.copyright{
    text-align: center;
    color: rgba(255,255,255,0.6);
    margin-top: 40px;
}

.copyright p {
    line-height: 1em;
    color: rgba(255, 255, 255, 0.6);
}
